In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('datos\data_etiquetas_100_por_categoria.csv')

In [5]:
df

    Etiq.   X  Y
0       A  16  2
1       A  29  2
2       A  38  4
3       A  24  2
4       A  20  3
..    ...  .. ..
195     B  21  4
196     B  35  2
197     B  15  3
198     B  32  4
199     B  13  2

[200 rows x 3 columns]